@mixin font($font-size, $font-weight, $line-height, $color) {
  font-family: 'Source Sans Pro';
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  font-style: normal;
  color: $color;
}
